
/* === Base === */
body {
	font: 16px/1.4 "Poppins", sans-serif;
	background: #EEF0E9;
}

/* box sizing all the things - https://css-tricks.com/box-sizing/ */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

img { max-width: 100%; }

code:not([class]) {
	display: inline-block;
	padding: 1px 2px;
	background-color: #FFF;
	overflow: auto;
	max-width: 100%;
	vertical-align: middle;
	border-radius: 2px;
}

h2, h3 {
	color: #282c34;
}

a {
	color: #000;
}

/* === Layout === */

.page-header,
.page-footer {
	background: #282c34;
	color: #fff;
	padding: 30px 60px;
}
.page-header a,
.page-footer a {
	color: inherit;
}
.page-footer {
	display: flex;
	flex-direction: column;
}
.page-footer svg {
	fill: #FFF;
}
.page-header h1 {
	font-size: 48px;
	margin: 0;
	text-align: center;
}
.page-header span {
	display: inline-block;
	vertical-align: middle;
	font-size: 24px;
	font-weight: normal;
}
.page-header svg {
	fill: #FFF;
	margin: 0 15px;
}

.page-wrapper {
	padding: 20px;
}

.page-sidebar {
	text-align: center;
	padding-bottom: 60px;
}
.page-sidebar ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.page-sidebar li ul {
	display: none;
}
.page-sidebar li.open ul {
	display: block;
}
.page-sidebar a {
	padding: 10px 0;
	display: inline-block;
	color: #000;
}
.page-sidebar ul ul a {
	padding: 2px 0;
}
.page-sidebar strong {
	color: #282c34;
}

.toggle-sub-links {
	cursor: pointer;
	position: absolute;
	margin-left: -20px;
	text-decoration: none;
}
.toggle-sub-links::before {
	content: "+";
}
.open .toggle-sub-links::before {
	content: "-";
}

.page-main {
	position: relative;
	padding: 0 0 0 60px;
}
.page-main::before {
	/* show as a horizontal line down under the section numbers */
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 10px;
	width: 1px;
	height: 100%;
	background: #D9D9D9;
	z-index: -1;
}

@media screen and (min-width: 800px) {
	.page-wrapper {
		display: flex;
		gap: 30px;
		padding: 60px;
	}
	.page-sidebar {
		width: 25%;
		max-width: 240px;
	}
	.page-sidebar li ul {
		padding-left: 20px;
	}
	.page-footer {
		flex-direction: row;
	}
	.page-footer strong {
		flex: 1;
	}

	.page-header h1,
	.page-sidebar {
		text-align: left;
	}
	.page-main {
		flex: 1;
	}

	/* highlight js doesn't seem to overflow correctly when inside flex container, have the text wrap instead */
	.page-main code {
		text-wrap: wrap;
		word-break: break-word;
	}

	/* scroll the sidebar with us */
	.page-sidebar > ul {
		position: sticky;
		top: 60px;

		height: 90vh;
		overflow: auto;
		padding-left: 20px;
		margin-left: -20px;
	}
}

/* === Modules === */

.doc-section {
	margin: 0 0 60px;
	position: relative;
}

.doc-section::before {
	content: counter(section);
	counter-increment: section;
	/* center the counter text inside */
	display: flex;
	align-items: center;
	justify-content: center;
	/* position slightly to the left in a circle */
	position: absolute;
	width: 40px;
	height: 40px;
	background: #282c34;
	color: #FFF;
	font-size: 20px;
	font-weight: bold;
	border-radius: 50%;
	left: -70px;
}
.page-main {
	counter-reset: section;
}

.doc-section h2 {
	font-size: 24px;
	margin: 0 0 15px;
}

/* each API request */
.request {
	margin-bottom: 12px;
	background-color: #FFF;
	border-radius: 5px;
    overflow: hidden;
}
.request__url,
.request__filters,
.request__info,
.request__requirements {
	display: block;
	padding: 6px;
}
.request__filters,
.request__requirements {
	font-size: small;	
}
.request__url {
	overflow: auto;
	background: rgba(40, 44, 52, .9);
	color: #FFF;
}

.request[data-http-method]::before {
	content: attr(data-http-method);
	float: left;
	padding: 6px;
	background: #282c34;
	font-weight: bold;
	font-family: monospace;
	color: #FFF;
}
.request[data-http-method="GET"]::before {
	color: #4CAF50;
}
.request[data-http-method="POST"]::before {
	color: #FF9800;
}
.request[data-http-method="DELETE"]::before {
	color: #F44336;
}

.request code:not([class]) {
	background: rgba(40, 44, 52, .2);
	margin-bottom: 1px;
}

.endpoint {
	margin-bottom: 30px;
}
.endpoint ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.endpoint__identifiers {
	font-size: small;
	display: block;
	margin-top: -10px;
	margin-bottom: 10px;
}
