
/* === Base === */
body {
	font: 14px/1.36 "Lato", sans-serif;
	padding: 1em;
	background: #f5f8fa;
}

* {
	box-sizing: border-box;
}

img { max-width: 100%; }

h1, h2, h3 {
	font-weight: 300;
}

/* === Layout === */

/* -- page layout -- */

.page-header {
	text-align: center;
	margin-top: 3em;
}
.page-header h1 {
	font-size: 400%;
	margin: 0;
}
.page-header h2 {
	margin: 0;
	color: #444;
}

.page-main {
	max-width: 900px;
	margin: 1em auto;
}

.page-footer {
	margin: 1em auto;
	text-align: center;
}

/* -- grid layout for each block/unit -- */

.grid {
	display: flex;
	flex-wrap: wrap;
	margin-top: 3em;
}
.unit {
	flex: none;
	width: 100%;
	/* also flex, so we get 100% height on .unit-inner's */
	display: flex;
}
.unit-inner {
	flex: 1;
	display: block;
	margin: 0.5em;
	padding: 2em;
	text-decoration: none;
	transition: all 0.2s;
	background: #FFF;
	color: #444;
	border-top: 6px solid #FFF;
}
.unit-inner h1 {
	color: #000;
	margin: 0;
}
.unit-inner p {
	margin: 1em 0 0 0;
}
.unit-inner:hover {
	background: rgba(0, 0, 0, 0.05);
}
@media screen and (min-width: 35.5em) {
	.unit {
		width: 50%;
	}
}
@media screen and (min-width: 48em) {
	.unit {
		width: 33.3333%;
	}
}

/* -- unit modifiers -- */
.unit--learn .unit-inner { border-color: #03A9F4; }
.unit--snippets .unit-inner { border-color: #3F51B5; }
.unit--builder .unit-inner { border-color: #009688; }
.unit--examples .unit-inner { border-color: #8BC34A; }
.unit--support .unit-inner { border-color: #9C27B0; }
.unit--manage .unit-inner { border-color: #FF9800; }

/* === Modules === */

/* top right fork on github banner */
.fork-on-github-banner {
    position: absolute;
    top: 0;
    right: 0;
}

/* Examples page */
.page-main--examples {
	max-width: 100%;
}
.unit--examples .unit .unit-inner {
	padding: 0;
	border-top: 0;
	margin: 1em;
}
.unit--examples .unit h1 {
	padding: .5em 1em;
	text-align: center;
}

/* Pages with a sidebar nav inside */
.page-sidebar-nav ul {
	padding: 0;
	list-style: none;
}
.page-sidebar-nav > ul {
	position: sticky;
	top: 0;
	max-height: 100vh;
	overflow: auto;
}
.page-sidebar-nav a {
	display: block;
	padding: .3em .6em;
	transition: .3s all;
	color: #444;
	text-decoration: none;
}
.page-sidebar-nav a:hover {
	background: #FFF;
}
/* top links */
.page-sidebar-nav > ul > li > a {
	font-size: 1.4em;
	color: #222;
}
/* sub links */
.page-sidebar-nav ul ul {
	padding-left: 2em;
}
@media screen and (min-width: 35.5em) {
	.page-sidebar-nav > ul {
		display: flex;
	}
}
@media screen and (min-width: 48em) {
	.page-sidebar-nav > ul {
		display: block;
	}
	.page-main--with-sidebar-nav {
		max-width: 1000px;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-column-gap: 2em;
		grid-template-areas: "nav main main main";
	}
	.page-main--with-sidebar-nav nav {
		grid-area: nav;
	}
	.page-main--with-sidebar-nav main {
		grid-area: main;
	}
}

/* header style */
.documentation-style-headers h1,
.documentation-style-headers h2 {
	margin-top: 2em;
}

/* markers for documentation use */
.marker {
	display: inline-block;
	padding: .4em;
	color: #FFF;
	font-size: 10px;
}
.marker--new {
	background: deepskyblue;
}
